* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
button {
  border: none;
}
ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*task-1*/
.item {
  max-width: 392px;
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
}
.item:not(:last-child) {
  margin-bottom: 24px;
}
.category-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.category {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 0;
}
.category > li {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-top: 8px;
  padding-left: 16px;

  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
/*task-2*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: center;
}
.gallery li {
  flex-basis: calc(100% / 3 - 48px);
}
.gallery img {
  display: block;
  width: 100%;
  min-height: 300px;
  object-fit: cover;
}
/*task-3*/
.text {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 16px;
}
.text::placeholder {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.hello-msg {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
/*task-4*/
.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 360px;
}
.login-form label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.login-form input {
  width: 100%;
  padding: 8px 16px;
  margin-top: 8px;
}
.login-form input:hover .login-form input:focus {
  border: 1px solid #000;
}
.login-btn {
  margin-top: 16px;
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
}
.login-btn:hover {
  background-color: #6c8cff;
}
